
{% extends "base.html" %}

{% block title %}Par mums - ArtGallery{% endblock %}

{% block content %}

<h2>Par <span class="blue_h">Art</span><span class="white_h">Gallery</span>!</h2>

<div class="text-boxes">
    <div class="text-box">
        <h3 class="yellow-heading">Par galeriju</h3>
        <p>ArtGallery ir vieta, kur māksla dzīvo, iedvesmo un savieno. <br>
<br>
            Mēs esam mākslas galerija, kas piedāvā unikālu iespēju iepazīt dažādu mākslinieku darbus, dalīties ar mākslas pasauli un radīt jaunas emocionālas pieredzes. <br>
            <br>
            Mūsu kolekcijā atradīsiet gan klasiskus, gan mūsdienīgus mākslas darbus, kas atspoguļo dažādas tehnikas, stilus un kultūras.</p>
    </div>
    <div class="text-box">
        <h3 class="yellow-heading">Mērķis</h3>
        <p>Mērķis ir veidot atvērtu, pieejamu un iedvesmojošu vidi, kurā ikviens var piedzīvot mākslu savā veidā. <br>
            <br>
            Mēs cenšamies veidot platformu, kas veicina radošās izpausmes, veido jaunas mākslinieciskās saiknes un ļauj visiem mūsu apmeklētājiem atrast personīgu pieskārienu katrā izstādē un gleznā. <br>
            <br>Ar katru jauno izstādi mēs cenšamies paplašināt mākslas pasaules robežas un piedāvāt kaut ko jaunu un satriecošu, kas pārsteigs, uzrunās un mudinās domāt.</p>
    </div>
    <div class="text-box">
        <h3 class="yellow-heading">Par autori</h3>
        <p>Zaiga Paegle ir šī projekta idejas autore. <br>
            <br>
             Viņa ir radījusi šo mākslas galeriju, lai dalītos ar mākslas spēju iedvesmot citus. <br>
              Viņa ir arī šīs mājaslapas veidotāja, rūpējoties, lai katrs apmeklētājs varētu viegli iepazīties ar mākslas darbiem un tuvākajām izstādēm. <br>
              <br>Viņas vēlme radīt platformu, kur māksla kļūst pieejama un iedvesmojoša ikvienam, ir galvenais dzinējspēks aiz šī produkta.</p>
    </div>
</div>


<p>  Paldies <br>
    ChatGPT, kurš mani atbalstīja gan tad, kad viss gāja no rokas, gan arī tad, kad kods atteicās sadarboties.
    Un Claude – liels paldies par tehnisko burvestību un par to, ka nenobijies no maniem "ātri tikai viens jautājums".</p>


{% endblock %}
